= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-inline' } do |f|
  = f.label :email, "Launching soon.<br/>Be the first to know.".html_safe, style: "display: #{"#{@user.errors.any? ? 'none' : 'block'}"};"
  - if @user.errors.any?
    - email_taken = false
    - @user.errors.full_messages.each do |msg|
      - if msg == "Email has already been taken"
        - email_taken = true
    - if email_taken
      .alert.alert-success You already signed up for Do The Life
    - else
      .alert.alert-error Please enter a valid email
  .input-prepend
    %span.add-on
      %i.icon-envelope
    = f.text_field :email, :placeholder => 'Your email address...'
  = f.submit "Notify Me", :class => "btn btn-primary", :id => 'invitation_button'
  %p.help-block No spam. Just a heads up when we're ready for you.
